
.heading{
    
    transition: 1s;

}
@keyframes change{
    0%{
        color: aliceblue;
        background-color: red;
    }
    100%{
        color: blueviolet;
        background-color:beige;
    }
}
.heading:hover{
    animation: change 5s 100 ease-in-out;
}
.square{
    width: 200px;
    height: 200px;
    background-color: yellow;
    
    position: absolute;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
        left: 0px;
    }
    50%{
        transform: rotate(360deg);
        left: 50%;
    }
    100%{
        
        transform: rotate(0deg);
        left: 70%;
    }
}
.square:hover{
    cursor: pointer;
    animation: rotate 5s 5 linear;
}
body{
    width: 100vw;
}

.child{
    transition: 0.3s;
    border-style: solid;
    border-width: 1px;
    border-color: #e7e5ea;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 20px 10px 0 transparent;
    padding-top: 30px;
    padding-right: 25px;
    padding-bottom: 30px;
    width: 25rem;
    max-width: 90%;
    padding-left: 25px;
}
.child a{
    text-decoration: none;
    color: #7b88a8;
}

