.child{
    transition: 0.3s;
    border-style: solid;
    border-width: 1px;
    border-color: #e7e5ea;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 20px 10px 0 transparent;
    padding-top: 30px;
    padding-right: 25px;
    padding-bottom: 30px;
    width: 25rem;
    max-width: 90%;
    padding-left: 25px;
}
.child a{
    text-decoration: none;
    color: #7b88a8;
}
