body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.square{
    width: 200px;
    height: 200px;
    padding: 20px;
    background-color: yellow;
    cursor: pointer;
    animation: rotate 10s 5 ease-in-out;
    position: absolute;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
    }
    25%{
        transform: rotate(-90deg);
        left: 86vw;
        top: 0px;
        right: 0px;
        bottom: 0px;
    }
    50%{
        transform: rotate(90deg);
        top: 69vh;left: 86vw;
        right: 0px;
        bottom: 0px;
    }
    75%{
        transform: rotate(-90deg);
        right: 86vw;
        top: 69vh;
        left: 0;
        bottom: 0;
    }
    100%{
        transform: rotate(90deg);
        bottom: 69vh;
        right: 86vw;
        left: 0px;
        top: 0px;
        
    }
}